@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap")
@import vars

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Lato', sans-serif

main
    padding-top: 80px

button,
button:active,
button:focus
    outline: none

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header
    height: 75px
    background: $accentColor
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 50px
    padding-right: 50px
    /*border-radius: 0px 0px 10px 10px

.header__title
    color: #fff
    font-size: 20px

.btn-cart
    border: none
    border-radius: 4px
    background-color: #fff
    padding: 5px
    font-size: 15px

.products
    display: flex
    justify-content: space-between

.product
    &-item
        box-shadow: 0 0 10px $accentColor
        border-radius: 10px

    &-details
        padding: 5px

    &-heading
        margin-top: 10px
        padding-bottom: 5px

    &-price
        padding-bottom: 5px

    &-img
        border-radius: 10px 10px 0px 0px
        padding-bottom: 5px

    &-btn
        padding: 10px
        border: $accentColor solid 1px
        background-color: white
        border-radius: 5px
        /*margin-bottom: 5px
        font-size: 16px
        width: 100%
        &:hover
            background-color: $accentColor
            color: white

.btn-cart
    padding-left: 15px
    padding-right: 15px
    font-size: 16px
    box-sizing: border-box
    &:hover
        background-color: $accentColor
        color: white
        box-shadow: 0 0 5px 4px #ffffff80
